section#post {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 30px;
}

section#post article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 30px 0px 10px;
}
section#post article header{
    display: flex;
    padding: 20px;
    align-items: center;
}

section#post article header .title{
    display: flex;
    padding: 5px;
    flex-direction: column;
}
section#post article header span{
    font-size: 13px;
    padding-top: 5px;
}

section#post article img {
    width: 100%;
    max-height: 300px;
    object-position: top;
    object-fit: scale-down;

        
}
section#post article footer {
    padding: 20px;
    word-wrap: break-word;
}